beautifulsoup4
bs4
httpx
phonenumbers
aiohttp
colorama
termcolor
tabulate
requests
urllib3
trio
prettytable
datetime
PyPDF2
python-docx
Pillow
mutagen
pymediainfo
PyMuPDF
openpyxl
pefile
pykeepass
xlrd
rarfile
python-whois
fitz
frontend
tools
patool
cloudscraper
pymupdf
ignorant
pdfplumber
brotli 
httpx[http2]
wappalyzer
