beautifulsoup4
bs4
httpx
phonenumbers
aiohttp
colorama
termcolor
tabulate
requests
urllib3
trio
prettytable
datetime
plistlib
warnings
os
mimetypes
PyPDF2
python-docx
Pillow
mutagen
pymediainfo
PyMuPDF
openpyxl
pefile
json
xml
pykeepass
patoolib
xlrd
rarfile
python-whois
fitz
frontend
tools
patool
cloudscraper
pymupdf
ignorant
pdfplumber
brotli httpx[http2]
